# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/*
prx-commons.iml
target/*
/commons.iml
/dependencies_tree.txt
/htmlReport/com.umdc.commons.constants.httpstatus.key/ClientErrorKey.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/ClientErrorKey.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/index.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/index.source.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/InformationCode.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/InformationCode.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/RedirectionKey.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/RedirectionKey.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/RedirectionKeyTest.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/RedirectionKeyTest.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/ServerErrorKey.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/ServerErrorKey.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/ServerErrorKeyTest.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/ServerErrorKeyTest.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/SuccessKey.html
/htmlReport/com.umdc.commons.constants.httpstatus.key/SuccessKey.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.type/DefaultMessage.html
/htmlReport/com.umdc.commons.constants.httpstatus.type/DefaultMessage.java.html
/htmlReport/com.umdc.commons.constants.httpstatus.type/index.html
/htmlReport/com.umdc.commons.constants.httpstatus.type/index.source.html
/htmlReport/com.umdc.commons.constants.httpstatus.type/MessageType.html
/htmlReport/com.umdc.commons.constants.httpstatus.type/MessageType.java.html
/htmlReport/com.umdc.commons.constants.keys/AuthKey.html
/htmlReport/com.umdc.commons.constants.keys/AuthKey.java.html
/htmlReport/com.umdc.commons.constants.keys/AuthKeyTest.html
/htmlReport/com.umdc.commons.constants.keys/AuthKeyTest.java.html
/htmlReport/com.umdc.commons.constants.keys/ClientErrorKeyTest.html
/htmlReport/com.umdc.commons.constants.keys/ClientErrorKeyTest.java.html
/htmlReport/com.umdc.commons.constants.keys/index.html
/htmlReport/com.umdc.commons.constants.keys/index.source.html
/htmlReport/com.umdc.commons.constants.keys/ManagementAuthKey.html
/htmlReport/com.umdc.commons.constants.keys/ManagementAuthKey.java.html
/htmlReport/com.umdc.commons.constants.keys/ManagementAuthKeyTest.html
/htmlReport/com.umdc.commons.constants.keys/ManagementAuthKeyTest.java.html
/htmlReport/com.umdc.commons.constants.keys/OrderKeys.html
/htmlReport/com.umdc.commons.constants.keys/OrderKeys.java.html
/htmlReport/com.umdc.commons.constants.keys/OrderKeysTest.html
/htmlReport/com.umdc.commons.constants.keys/OrderKeysTest.java.html
/htmlReport/com.umdc.commons.constants.keys/SizeKey.html
/htmlReport/com.umdc.commons.constants.keys/SizeKey.java.html
/htmlReport/com.umdc.commons.constants.keys/SizeKeyTest.html
/htmlReport/com.umdc.commons.constants.keys/SizeKeyTest.java.html
/htmlReport/com.umdc.commons.constants.keys/UserKeys.html
/htmlReport/com.umdc.commons.constants.keys/UserKeys.java.html
/htmlReport/com.umdc.commons.constants.keys/UserKeysTest.html
/htmlReport/com.umdc.commons.constants.keys/UserKeysTest.java.html
/htmlReport/com.umdc.commons.constants.types/ContactType.html
/htmlReport/com.umdc.commons.constants.types/ContactType.java.html
/htmlReport/com.umdc.commons.constants.types/ContactTypeTest.html
/htmlReport/com.umdc.commons.constants.types/ContactTypeTest.java.html
/htmlReport/com.umdc.commons.constants.types/IdentificationType.html
/htmlReport/com.umdc.commons.constants.types/IdentificationType.java.html
/htmlReport/com.umdc.commons.constants.types/IdentificationTypeTest.html
/htmlReport/com.umdc.commons.constants.types/IdentificationTypeTest.java.html
/htmlReport/com.umdc.commons.constants.types/index.html
/htmlReport/com.umdc.commons.constants.types/index.source.html
/htmlReport/com.umdc.commons.constants.types/MessageCategoryType.html
/htmlReport/com.umdc.commons.constants.types/MessageCategoryType.java.html
/htmlReport/com.umdc.commons.constants.types/MessageCategoryTypeTest.html
/htmlReport/com.umdc.commons.constants.types/MessageCategoryTypeTest.java.html
/htmlReport/com.umdc.commons.constants.types/MessageTypeTest.html
/htmlReport/com.umdc.commons.constants.types/MessageTypeTest.java.html
/htmlReport/com.umdc.commons.constants.types/OperationType.html
/htmlReport/com.umdc.commons.constants.types/OperationType.java.html
/htmlReport/com.umdc.commons.constants.types/OperationTypeTest.html
/htmlReport/com.umdc.commons.constants.types/OperationTypeTest.java.html
/htmlReport/com.umdc.commons.converter/Converter.html
/htmlReport/com.umdc.commons.converter/Converter.java.html
/htmlReport/com.umdc.commons.converter/ConverterExtraTest$ConverterImpTest.html
/htmlReport/com.umdc.commons.converter/ConverterExtraTest$Impl.html
/htmlReport/com.umdc.commons.converter/ConverterExtraTest.html
/htmlReport/com.umdc.commons.converter/ConverterExtraTest.java.html
/htmlReport/com.umdc.commons.converter/ConverterTest$ConverterImpTest.html
/htmlReport/com.umdc.commons.converter/ConverterTest.html
/htmlReport/com.umdc.commons.converter/ConverterTest.java.html
/htmlReport/com.umdc.commons.converter/index.html
/htmlReport/com.umdc.commons.converter/index.source.html
/htmlReport/com.umdc.commons.exception/index.html
/htmlReport/com.umdc.commons.exception/index.source.html
/htmlReport/com.umdc.commons.exception/StandardException.html
/htmlReport/com.umdc.commons.exception/StandardException.java.html
/htmlReport/com.umdc.commons.exception/StandardExceptionTest.html
/htmlReport/com.umdc.commons.exception/StandardExceptionTest.java.html
/htmlReport/com.umdc.commons.general.pojo/Address.html
/htmlReport/com.umdc.commons.general.pojo/Address.java.html
/htmlReport/com.umdc.commons.general.pojo/AddressTest.html
/htmlReport/com.umdc.commons.general.pojo/AddressTest.java.html
/htmlReport/com.umdc.commons.general.pojo/Application.html
/htmlReport/com.umdc.commons.general.pojo/Application.java.html
/htmlReport/com.umdc.commons.general.pojo/ApplicationRoleUser.html
/htmlReport/com.umdc.commons.general.pojo/ApplicationRoleUser.java.html
/htmlReport/com.umdc.commons.general.pojo/ApplicationRoleUserTest.html
/htmlReport/com.umdc.commons.general.pojo/ApplicationRoleUserTest.java.html
/htmlReport/com.umdc.commons.general.pojo/ApplicationTest.html
/htmlReport/com.umdc.commons.general.pojo/ApplicationTest.java.html
/htmlReport/com.umdc.commons.general.pojo/AuditEvent.html
/htmlReport/com.umdc.commons.general.pojo/AuditEvent.java.html
/htmlReport/com.umdc.commons.general.pojo/AuditEventTest.html
/htmlReport/com.umdc.commons.general.pojo/AuditEventTest.java.html
/htmlReport/com.umdc.commons.general.pojo/AuditEventType.html
/htmlReport/com.umdc.commons.general.pojo/AuditEventType.java.html
/htmlReport/com.umdc.commons.general.pojo/AuditOutcome.html
/htmlReport/com.umdc.commons.general.pojo/AuditOutcome.java.html
/htmlReport/com.umdc.commons.general.pojo/Contact.html
/htmlReport/com.umdc.commons.general.pojo/Contact.java.html
/htmlReport/com.umdc.commons.general.pojo/ContactTest.html
/htmlReport/com.umdc.commons.general.pojo/ContactTest.java.html
/htmlReport/com.umdc.commons.general.pojo/ContactType.html
/htmlReport/com.umdc.commons.general.pojo/ContactType.java.html
/htmlReport/com.umdc.commons.general.pojo/ContactTypeTest.html
/htmlReport/com.umdc.commons.general.pojo/ContactTypeTest.java.html
/htmlReport/com.umdc.commons.general.pojo/Feature.html
/htmlReport/com.umdc.commons.general.pojo/Feature.java.html
/htmlReport/com.umdc.commons.general.pojo/FeatureTest.html
/htmlReport/com.umdc.commons.general.pojo/FeatureTest.java.html
/htmlReport/com.umdc.commons.general.pojo/IdentificationDocument.html
/htmlReport/com.umdc.commons.general.pojo/IdentificationDocument.java.html
/htmlReport/com.umdc.commons.general.pojo/IdentificationDocumentTest.html
/htmlReport/com.umdc.commons.general.pojo/IdentificationDocumentTest.java.html
/htmlReport/com.umdc.commons.general.pojo/index.html
/htmlReport/com.umdc.commons.general.pojo/index.source.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClient.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClient.java.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClientAuditEvent.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClientAuditEvent.java.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClientAuditEventTest.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClientAuditEventTest.java.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClientTest.html
/htmlReport/com.umdc.commons.general.pojo/ManagedClientTest.java.html
/htmlReport/com.umdc.commons.general.pojo/Notice.html
/htmlReport/com.umdc.commons.general.pojo/Notice.java.html
/htmlReport/com.umdc.commons.general.pojo/NoticeTest.html
/htmlReport/com.umdc.commons.general.pojo/NoticeTest.java.html
/htmlReport/com.umdc.commons.general.pojo/NoticeType.html
/htmlReport/com.umdc.commons.general.pojo/NoticeType.java.html
/htmlReport/com.umdc.commons.general.pojo/NoticeTypeTest.html
/htmlReport/com.umdc.commons.general.pojo/NoticeTypeTest.java.html
/htmlReport/com.umdc.commons.general.pojo/Person.html
/htmlReport/com.umdc.commons.general.pojo/Person.java.html
/htmlReport/com.umdc.commons.general.pojo/PersonTest.html
/htmlReport/com.umdc.commons.general.pojo/PersonTest.java.html
/htmlReport/com.umdc.commons.general.pojo/PersonToStringTest.html
/htmlReport/com.umdc.commons.general.pojo/PersonToStringTest.java.html
/htmlReport/com.umdc.commons.general.pojo/Role.html
/htmlReport/com.umdc.commons.general.pojo/Role.java.html
/htmlReport/com.umdc.commons.general.pojo/RoleFeature.html
/htmlReport/com.umdc.commons.general.pojo/RoleFeature.java.html
/htmlReport/com.umdc.commons.general.pojo/RoleFeatureTest.html
/htmlReport/com.umdc.commons.general.pojo/RoleFeatureTest.java.html
/htmlReport/com.umdc.commons.general.pojo/RoleTest.html
/htmlReport/com.umdc.commons.general.pojo/RoleTest.java.html
/htmlReport/com.umdc.commons.general.pojo/ServiceType.html
/htmlReport/com.umdc.commons.general.pojo/ServiceType.java.html
/htmlReport/com.umdc.commons.general.pojo/ServiceTypeTest.html
/htmlReport/com.umdc.commons.general.pojo/ServiceTypeTest.java.html
/htmlReport/com.umdc.commons.general.pojo/SocialContact.html
/htmlReport/com.umdc.commons.general.pojo/SocialContact.java.html
/htmlReport/com.umdc.commons.general.pojo/SocialContactTest.html
/htmlReport/com.umdc.commons.general.pojo/SocialContactTest.java.html
/htmlReport/com.umdc.commons.general.pojo/StatusOrderType.html
/htmlReport/com.umdc.commons.general.pojo/StatusOrderType.java.html
/htmlReport/com.umdc.commons.general.pojo/StatusOrderTypeTest.html
/htmlReport/com.umdc.commons.general.pojo/StatusOrderTypeTest.java.html
/htmlReport/com.umdc.commons.general.pojo/User.html
/htmlReport/com.umdc.commons.general.pojo/User.java.html
/htmlReport/com.umdc.commons.general.pojo/UserSession.html
/htmlReport/com.umdc.commons.general.pojo/UserSession.java.html
/htmlReport/com.umdc.commons.general.pojo/UserTest.html
/htmlReport/com.umdc.commons.general.pojo/UserTest.java.html
/htmlReport/com.umdc.commons.general.to/index.html
/htmlReport/com.umdc.commons.general.to/index.source.html
/htmlReport/com.umdc.commons.general.to/Request.html
/htmlReport/com.umdc.commons.general.to/Request.java.html
/htmlReport/com.umdc.commons.general.to/RequestTest.html
/htmlReport/com.umdc.commons.general.to/RequestTest.java.html
/htmlReport/com.umdc.commons.general.to/Response.html
/htmlReport/com.umdc.commons.general.to/Response.java.html
/htmlReport/com.umdc.commons.general.to/ResponseTest.html
/htmlReport/com.umdc.commons.general.to/ResponseTest.java.html
/htmlReport/com.umdc.commons.general.to/TokenResponse.html
/htmlReport/com.umdc.commons.general.to/TokenResponse.java.html
/htmlReport/com.umdc.commons.io.pojo/FileDescriptor.html
/htmlReport/com.umdc.commons.io.pojo/FileDescriptor.java.html
/htmlReport/com.umdc.commons.io.pojo/FileDescriptorTest.html
/htmlReport/com.umdc.commons.io.pojo/FileDescriptorTest.java.html
/htmlReport/com.umdc.commons.io.pojo/index.html
/htmlReport/com.umdc.commons.io.pojo/index.source.html
/htmlReport/com.umdc.commons.io.pojo/SizeDescriptor.html
/htmlReport/com.umdc.commons.io.pojo/SizeDescriptor.java.html
/htmlReport/com.umdc.commons.io.pojo/SizeDescriptorTest.html
/htmlReport/com.umdc.commons.io.pojo/SizeDescriptorTest.java.html
/htmlReport/com.umdc.commons.message.pojo/index.html
/htmlReport/com.umdc.commons.message.pojo/index.source.html
/htmlReport/com.umdc.commons.message.pojo/Mail.html
/htmlReport/com.umdc.commons.message.pojo/Mail.java.html
/htmlReport/com.umdc.commons.message.pojo/MailTest.html
/htmlReport/com.umdc.commons.message.pojo/MailTest.java.html
/htmlReport/com.umdc.commons.message.pojo/Messenger.html
/htmlReport/com.umdc.commons.message.pojo/Messenger.java.html
/htmlReport/com.umdc.commons.message.pojo/MessengerTest.html
/htmlReport/com.umdc.commons.message.pojo/MessengerTest.java.html
/htmlReport/com.umdc.commons.message.to/index.html
/htmlReport/com.umdc.commons.message.to/index.source.html
/htmlReport/com.umdc.commons.message.to/MessageActivity.html
/htmlReport/com.umdc.commons.message.to/MessageActivity.java.html
/htmlReport/com.umdc.commons.message.to/MessageActivityTest.html
/htmlReport/com.umdc.commons.message.to/MessageActivityTest.java.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageRequest.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageRequest.java.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageRequestTest.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageRequestTest.java.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageResponse.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageResponse.java.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageResponseTest.html
/htmlReport/com.umdc.commons.message.to/NotifyMessageResponseTest.java.html
/htmlReport/com.umdc.commons.util/DateUtil.html
/htmlReport/com.umdc.commons.util/DateUtil.java.html
/htmlReport/com.umdc.commons.util/DateUtilTest.html
/htmlReport/com.umdc.commons.util/DateUtilTest.java.html
/htmlReport/com.umdc.commons.util/FileUtil.html
/htmlReport/com.umdc.commons.util/FileUtil.java.html
/htmlReport/com.umdc.commons.util/FileUtilExtraTest.html
/htmlReport/com.umdc.commons.util/FileUtilExtraTest.java.html
/htmlReport/com.umdc.commons.util/FileUtilTest.html
/htmlReport/com.umdc.commons.util/FileUtilTest.java.html
/htmlReport/com.umdc.commons.util/HttpStatusUtil.html
/htmlReport/com.umdc.commons.util/HttpStatusUtil.java.html
/htmlReport/com.umdc.commons.util/HttpStatusUtilExtraTest.html
/htmlReport/com.umdc.commons.util/HttpStatusUtilExtraTest.java.html
/htmlReport/com.umdc.commons.util/HttpStatusUtilTest.html
/htmlReport/com.umdc.commons.util/HttpStatusUtilTest.java.html
/htmlReport/com.umdc.commons.util/index.html
/htmlReport/com.umdc.commons.util/index.source.html
/htmlReport/com.umdc.commons.util/JsonUtil.html
/htmlReport/com.umdc.commons.util/JsonUtil.java.html
/htmlReport/com.umdc.commons.util/JsonUtilTest.html
/htmlReport/com.umdc.commons.util/JsonUtilTest.java.html
/htmlReport/com.umdc.commons.util/JwtUtil.html
/htmlReport/com.umdc.commons.util/JwtUtil.java.html
/htmlReport/com.umdc.commons.util/JwtUtilTest.html
/htmlReport/com.umdc.commons.util/JwtUtilTest.java.html
/htmlReport/com.umdc.commons.util/MessageActivityUtil.html
/htmlReport/com.umdc.commons.util/MessageActivityUtil.java.html
/htmlReport/com.umdc.commons.util/MessageActivityUtilTest.html
/htmlReport/com.umdc.commons.util/MessageActivityUtilTest.java.html
/htmlReport/com.umdc.commons.util/Validator.html
/htmlReport/com.umdc.commons.util/Validator.java.html
/htmlReport/com.umdc.commons.util/ValidatorAdditionalTest.html
/htmlReport/com.umdc.commons.util/ValidatorAdditionalTest.java.html
/htmlReport/com.umdc.commons.util/ValidatorCommonsUtil.html
/htmlReport/com.umdc.commons.util/ValidatorCommonsUtil.java.html
/htmlReport/com.umdc.commons.util/ValidatorCommonsUtilTest.html
/htmlReport/com.umdc.commons.util/ValidatorCommonsUtilTest.java.html
/htmlReport/com.umdc.commons.util/ValidatorTest.html
/htmlReport/com.umdc.commons.util/ValidatorTest.java.html
/htmlReport/jacoco-resources/branchfc.gif
/htmlReport/jacoco-resources/branchnc.gif
/htmlReport/jacoco-resources/branchpc.gif
/htmlReport/jacoco-resources/bundle.gif
/htmlReport/jacoco-resources/class.gif
/htmlReport/jacoco-resources/down.gif
/htmlReport/jacoco-resources/greenbar.gif
/htmlReport/jacoco-resources/group.gif
/htmlReport/jacoco-resources/method.gif
/htmlReport/jacoco-resources/package.gif
/htmlReport/jacoco-resources/prettify.css
/htmlReport/jacoco-resources/prettify.js
/htmlReport/jacoco-resources/redbar.gif
/htmlReport/jacoco-resources/report.css
/htmlReport/jacoco-resources/report.gif
/htmlReport/jacoco-resources/session.gif
/htmlReport/jacoco-resources/sort.gif
/htmlReport/jacoco-resources/sort.js
/htmlReport/jacoco-resources/source.gif
/htmlReport/jacoco-resources/up.gif
/htmlReport/index.html
/htmlReport/jacoco-sessions.html
